/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup{
    border-radius: 8px;
    border: 1px solid var(--color-tone-6);
    background-color: #ffffff;
    color: var(--color-tone-1);
    box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
    width: 70%;
    max-height: 90%;
    overflow-y: auto;
    padding: 30px;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
}

.popup h2{
    margin-top: -20px;
 }
 .popup p{
     font-size: 14px;
     text-align: justify;
     margin: 20px 0;
     line-height: 25px;
 }

 #close {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}

#HowToPlay{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-nav {
    margin-left: auto;
}

.fa-gear, .fa-circle-info {
    color: black;
    font-size: 18px;
}

#guess-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 5px 5px;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* height: 100vh; */

  }
  #hint-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 5px 5px;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* height: 100vh; */
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightslategray;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    width: 60px;
    height: 60px;
  }

  .game {
      display: flex;
      justify-content: center;
      /* margin: auto; */
      height: 90vh;
      width: 100vw;
  }

  .game-footer{
      font-size: 12px;
      color: lightslategray;
      text-align: center;
  }

    /* .section {
        height: 100vh;
display: flex;
justify-content: center;
align-items: center;
    } */
  

.button {
    background-color: rgba(235, 235, 235, 0.8);
    border: 1px solid lightslategray;
    justify-content: center;
    align-content: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 45%;
    transform: translateY(-90%);
    position: relative;
    animation: colour_play_button 10s infinite;
    }

    @keyframes colour_play_button {
        from {background-color: red;}
        14% {background-color: orange;}
        29% {background-color: yellow;}
        43% {background-color: green;}
        57% {background-color: blue;}
        71% {background-color: indigo;}
        85% {background-color: violet;}
        to {background-color: red;}
       }
    